<app-navbar></app-navbar>
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <a routerLink="/user">Back</a>
            <h3 class="text-center m-t-0 m-b-15"> <label class="logo logo-admin"><span>Edit</span>User</label></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
            <form class="form-horizontal m-t-20">

                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required name="name" [(ngModel)]="name" placeholder="user name"></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required [(ngModel)]="bod" name="bod" placeholder="Birth date"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required [(ngModel)]="img" name="img" placeholder="image"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required [(ngModel)]="mobile" name="mobile" placeholder="Mobile_no"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required [(ngModel)]=" address" name="address" placeholder="address"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="radio" [checked]="gender=='male'" [(ngModel)]="gender" name="gender" value="male"> male <input type="radio" name="gender" [(ngModel)]="gender" [checked]="gender=='female'" value="female"> female
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12"> <button (click)="onUpdate()" class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Update</button></div>

                </div>

            </form>
        </div>
    </div>
</div>