<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="index.html" class="logo logo-admin"><span>Add</span>User</a></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
            <form class="form-horizontal m-t-20" action="index.html">
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="email" required="" name="email_id" id="email_id" placeholder="email_id" [(ngModel)]="email_id"  ></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="user name" [(ngModel)]="user_name" name="user_name" id="user_name" ></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="password" required="" placeholder="password" [(ngModel)]="password" name="password" id="password"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="Birth date" [(ngModel)]="bod" name="bod" id="bod"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="image" [(ngModel)]="img" name="img" id="img"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="Mobile_no" [(ngModel)]="mobile" name="mobile" id="mobile"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" style="height:30px" type="text" required="" placeholder="address" [(ngModel)]="address" name="address" id="address"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="radio" [(ngModel)]="gender" id="gender" name="male" value="male" > Male
                        <input type="radio" name="female" [(ngModel)]="gender" id="gender" value="female"> Female
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div (click)="onAdd()" class="col-xs-12"> <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Add</button></div>
                    <a routerLink="/user">Back</a>
                </div>

            </form>
        </div>
    </div>
</div>