<app-navbar></app-navbar>
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <a routerLink="/hotels">Back</a>
            <h3 class="text-center m-t-0 m-b-15"> <label class="logo logo-admin"><span>Add</span>Hotel</label></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
            <ng-progress></ng-progress>
            <form class="form-horizontal m-t-20"  (ngSubmit)="onAdd(addform)" #addform="ngForm">
                <!--<div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="hotel name " [(ngModel)]="hotel_name" name="hotel_name" id="hotel_name"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="hotel_address" [(ngModel)]="hotel_address" name="hotel_address" id="hotel_address"></div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-12"> <!--<input class="form-control" type="text" required="" placeholder="image" [(ngModel)]="user_photo" name="user_photo" id="user_photo">
                        <input type="file" id="inputpic" (change)="fileChange(input)" #input>
                    <div *ngFor="let file_src of file_srcs; let i = index">
                        <img [attr.src]='file_src' alt="" />
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="Feedback" [(ngModel)]="hotel_feedback" name="hotel_feedback" id="hotel_feedback"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="city" [(ngModel)]="hotel_city" name="hotel_city" id="hotel_city"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="rating" [(ngModel)]="hotel_rating" name="hotel_rating" id="hotel_rating"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" placeholder="Description" [(ngModel)]="hotel_description" name="hotel_description" id="hotel_description"></div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div  (click)="onAdd()" class="col-xs-12"> <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Add</button></div>
                    <a routerLink="/hotels">Back</a>
                </div>-->

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Name" class="example-full-width">
                        <input matInput ngModel required text name="hotel_name" type="text" placeholder="Enter Name" #hotel_name="ngModel">
                         <mat-error *ngIf="hotel_name.hasError('required')" >Enter Name</mat-error>
                      </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Address" class="example-full-width">
                        <input matInput ngModel required text name="hotel_address" type="text" placeholder="Enter Address" #hotel_address="ngModel">
                         <mat-error *ngIf="hotel_address.hasError('required')" >Enter Address</mat-error>
                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Feedback" class="example-full-width">
                        <input matInput ngModel required text name="hotel_feedback" type="text" placeholder="Enter Feedback" #hotel_feedback="ngModel">
                         <mat-error *ngIf="hotel_feedback.hasError('required')" >Enter Name</mat-error>
                      </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid City" class="example-full-width">
                        <input matInput ngModel required text name="hotel_city" type="text" placeholder="Enter City" #hotel_city="ngModel">
                         <mat-error *ngIf="hotel_city.hasError('required')" >Enter Address</mat-error>
                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Rating" class="example-full-width">
                        <input matInput ngModel required text name="hotel_rating" type="text" placeholder="Enter Rating" #hotel_rating="ngModel">
                         <mat-error *ngIf="hotel_rating.hasError('required')" >Enter Rating</mat-error>
                      </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Description" class="example-full-width">
                        <input matInput ngModel required text name="hotel_description" type="text" placeholder="Enter Description" #hotel_description="ngModel">
                         <mat-error *ngIf="hotel_description.hasError('required')" >Enter Description</mat-error>
                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                </div>

                        
                            
                <div class="form-group">
                    <div class="col-xs-12"> <!--<input class="form-control" type="text" required="" placeholder="image" [(ngModel)]="user_photo" name="user_photo" id="user_photo">-->
                 <!--    <input type="file" id="inputpic" (change)="fileChange(input)" #input>-->
                    <input type="file" id="inputpic" (change)="onFileSelected($event)" #input>
                 <div *ngFor="let file_src of file_srcs; let i = index">
                     <img [attr.src]='file_src' alt="" />
                 </div>
                 </div>
                 </div>

                           

                               
            <div class="form-group text-center m-t-40">
                <div  class="col-xs-12"> <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light" [disabled]="!addform.form.valid">Add</button></div>

            </div>
            </form>
        </div>
    </div>
</div>