<app-navbar></app-navbar>
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <a routerLink="/traveler">Back</a>
            <h3 class="text-center m-t-0 m-b-15"> <label class="logo logo-admin"><span>Add</span>Traveler</label></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
            <form class="form-horizontal m-t-20" (ngSubmit)="onAdd(addform)" #addform="ngForm">
                <!--div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" name="name" id="name" required="" [(ngModel)]="name" placeholder="Traveler name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" name="email_id" id="email_id" [(ngModel)]="email_id" placeholder="travler Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="password" required="" name="password" id="password" [(ngModel)]="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" name="address" id="address" [(ngModel)]="address" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <!--<input class="form-control" type="text" required="" placeholder="image" [(ngModel)]="user_photo" name="user_photo" id="user_photo">
                        <input type="file" id="inputpic" (change)="fileChange(input)" #input>
                    <div *ngFor="let file_src of file_srcs; let i = index">
                        <img [attr.src]='file_src' alt="" />
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input class="form-control" type="text" required="" name="city" id="city" [(ngModel)]="city" placeholder="city">
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div (click)="onAdd()" class="col-xs-12"> <button class="btn btn-primary btn-block btn-lg waves-effect waves-light">Add</button>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Email" class="example-full-width">
                        <input matInput ngModel required email name="email_id" type="email" placeholder="Enter email" #email_id="ngModel">
                         <mat-error *ngIf="email_id.hasError('required')" >Enter Email</mat-error>
                         <mat-error *ngIf="email_id.hasError('email_id')" >Enter valid Email Address</mat-error>                    
                      </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                </div>

                <div class="form-group">
                        <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Password" class="example-full-width">
                            <input matInput ngModel required password name="password" type="password" placeholder="Enter password" #password="ngModel">
                             <mat-error *ngIf="password.hasError('required')" >Enter Password</mat-error>
                          </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                    </div>

                    <div class="form-group">
                            <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Name" class="example-full-width">
                                <input matInput ngModel required password name="name" type="text" placeholder="Enter Name" #name="ngModel">
                                 <mat-error *ngIf="name.hasError('required')" >Enter Name</mat-error>
                              </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                        </div>

                        <div class="form-group">
                                <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Address" class="example-full-width">
                                    <input matInput ngModel required password name="address" type="text" placeholder="Enter Address" #address="ngModel">
                                     <mat-error *ngIf="address.hasError('required')" >Enter Address</mat-error>
                                  </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                            </div>

                            
                        
                            
                            <div class="form-group">
                                <div class="col-xs-12"> <!--<input class="form-control" type="text" required="" placeholder="image" [(ngModel)]="user_photo" name="user_photo" id="user_photo">-->
                             <!--    <input type="file" id="inputpic" (change)="fileChange(input)" #input>-->
                                <input type="file" id="inputpic" (change)="onFileSelected($event)" #input>
                             <div *ngFor="let file_src of file_srcs; let i = index">
                                 <img [attr.src]='file_src' alt="" />
                             </div>
                             </div>
                             </div>

                           

                                <div class="form-group">
                                        <div class="col-xs-12"> <mat-form-field hintLabel="Enter Valid Number" class="example-full-width">
                                            <input matInput ngModel required password name="city" type="text" placeholder="Enter Address" #city="ngModel">
                                             <mat-error *ngIf="city.hasError('required')" >Enter Mobile No</mat-error>
                                          </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                    </div>
            <div class="form-group text-center m-t-40">
                <div  class="col-xs-12"> <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light" [disabled]="!addform.form.valid">Add</button></div>

            </div>
    

            </form>
        </div>
    </div>
</div>